@use "sass:math";
// @use "sass:color";

$wordColor: #eee;

:root {
  --bgColor: #1c1c20;
  --wordColor: #{$wordColor};
  font-family: 'Roboto', sans-serif;
}

* {
  &, &::before, &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background-color: var(--bgColor);
  color: var(--wordColor);
}

.main {
}


.container {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  inset: 0;
}

.ring {
  height: auto;
  aspect-ratio: 1;
  position: absolute;
  margin: auto;
  inset: 0;
  background: conic-gradient(
    rgb(255, 0, 0) 0,
    rgb(128, 255, 0) 90deg,
    rgb(0, 255, 255) 180deg,
    rgb(128, 0, 255) 270deg,
    rgb(255, 0, 0) 360deg
  );
  opacity: 0.4;
  mix-blend-mode: overlay;
  border-radius: 50%;
  border: 1px solid black;

  &:nth-child(1) { width: 90vmin; }
  &:nth-child(2) { width: 82vmin; }
  &:nth-child(3) { width: 74vmin; }
  &:nth-child(4) { width: 66vmin; }
  &:nth-child(5) { width: 58vmin; }
  &:nth-child(6) { width: 50vmin; }
  &:nth-child(7) { width: 42vmin; }
  &:nth-child(8) { width: 34vmin; }
  &:nth-child(9) { width: 26vmin; }
  &:nth-child(10) { width: 18vmin; }
}

.small {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
  opacity: .8;
}