---
import Description from '@src/components/common/Description.astro';

export interface Props {
	title: string;
	descriptionId?: number;
}

const { title, descriptionId } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | interactive-practice</title>
	</head>
	<body>
		<slot />
		{Number.isFinite(descriptionId) && <Description descriptionId={descriptionId} />}
	</body>
</html>
<style is:global lang="scss">
	*, *::before, *::after {
		box-sizing: border-box;
	}
</style>
