---
// import type { AstroInstance } from "astro";

// interface FrontMatter extends AstroInstance {
//   title: string
// }
// const allPages = await Astro.glob<FrontMatter>('./**/*.astro');

const allPages = [
  {
    title: 'Follow',
    url: './step1/index.html'
  },
  {
    title: 'Boundary',
    url: './step2/index.html'
  },
  {
    title: 'R-G-B',
    url: './step3/index.html'
  },
  {
    title: 'floating',
    url: './step4/index.html'
  },
  {
    title: 'Hover',
    url: './step5/index.html'
  },
  {
    title: 'Awards',
    url: './step6/index.html'
  },
  {
    title: 'Smooth',
    url: './step7/index.html'
  },
  {
    title: 'F.P. Rings',
    url: './step8/index.html'
  },
  {
    title: 'yura yura',
    url: './step9/index.html'
  },
  {
    title: 'human',
    url: './step10/index.html'
  },
  {
    title: 'movin\'',
    url: './step11/index.html'
  },
  {
    title: 'The Fusion of Opposites',
    url: './step12/index.html'
  },
  {
    title: '[wip] rotaion',
    url: './step13/index.html'
  },
]
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>interactive</title>
</head>
<body>
  <h1>interactive</h1>
  <ol>
    { allPages.map(page => (
      <li>
        <h2>
          <a href={page.url}>{page.title}</a>
        </h2>
      </li>
    )) }
  </ol>
</body>
</html>